<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="MyTrains.Droid.MyTrains.Droid" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="MyTrains" android:theme="@style/AppTheme" android:icon="@drawable/app_icon"></application>
</manifest>